.div1 {
  height: 100%;
  overflow: hidden;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.267),
      rgba(0, 0, 0, 0.267)
    ),
    url(./media/remi-walle-Ui3bOgnjtl0-unsplash.jpg);
  background-size: cover;
}

.navbar {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  font-family: 'Gelasio', serif;
}

.logo-BG {
  letter-spacing: 3px;
}

.navbar-light .navbar-brand {
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: 26px;
}

.navbar-brand:hover {
  background-image: url(https://media.giphy.com/media/26FL7OPVJqJ6d3eLK/giphy.gif);
  -webkit-text-fill-color:transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.navbar-nav {
  margin-right: 20px;
}

.nav-item {
  margin: 0 15px;
}

.nav-item.nav-link.navbar-tpright.active {
  color: rgb(232, 240, 233);
}

.div1-1 {
  height: 80%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.main-text {
  color: white;
  padding: 10px 0 0 80px;
  font-family: 'Rubik', sans-serif;
  font-size: 60px;
  grid-row: 2;
  grid-column: 2;
  text-shadow: 2px 2px rgba(200, 218, 202, 0.575);
}

#mainimg {
  width: 100%;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-weight: 100;
  text-align: center;
}

.about-1 {
  padding: 80px;
}

.about-2 {
  margin: 0 auto;
  width: 800px;
  padding: 40px;
}

.aboutp {
  margin-top: 40px;
  text-align: center;
  /* width: 300px; */
}

.portfolio {
  background-color: rgb(36, 39, 36);
  height: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}

.light-h1 {
  color: rgb(213, 248, 218);
  font-family: 'Rubik', sans-serif;
  text-align: left;
  margin-left: 20%;
  padding: 60px 0;
}

.portfolio-1 {
  padding: 0 1rem 40px 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

.card {
  width: auto;
  color: black;
  border-radius: 0px;
  box-shadow: 3px 5px 5px rgb(167, 167, 167);
}

.card:hover {
  text-decoration: none;
  color: black;
}

.card-img-top {
  height: 230px;
  background-size: cover;
  background-position: center;
}

.portfolio-2a {
  grid-column: 1;
}

.c-img-1 {
  background-image: url(./media/SampleDash.png);
}

.portfolio-2b {
  grid-column: 2;
}

.c-img-2 {
  background-image: url(./media/TTT.png);
}

.portfolio-2c {
  grid-column: 3;
}

.c-img-3 {
  background-image: url(./media/Quacks.png);
}

.portfolio-2d {
  grid-column: 4;
}

.c-img-4 {
  background-image: url(./media/css-grids.png);
}

.c-img-5 {
  background-image: url(./media/checkers.png);
}

.c-img-6 {
  background-image: url(./media/mastermind.png);
}

.port-title {
  color: white;
}

.dark-h1 {
  color: rgb(36, 39, 36);
  font-family: 'Rubik', sans-serif;
  text-align: left;
  margin-left: 20%;
  padding: 60px 0 20px;
}

.btn-outline-success {
  color: rgb(213, 248, 218);
  border-color: rgb(213, 248, 218);
}

.btn-outline-success:hover {
  background-color: rgb(213, 248, 218);
  color: rgb(36, 39, 36);
}

.tech1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech2 {
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  align-items: center;
}

.logo {
  width: 16%;
  max-width: 100px;
  height: auto;
}

.logo2 {
  width: 30%;
  max-width: 150px;
  height: auto;
}

.edu-1 {
  background-color: rgb(36, 39, 36);
  height: auto;
}

.edu-2 {
  padding: 40px 0;
  width: 50%;
  margin: 0 auto;
}

.degree {
  display: inline;
  font-family: 'Rubik', sans-serif;
  padding-right: 40px;
  color: rgb(247, 246, 239);
  font-size: 25px;
}

h3 {
  display: inline;
  font-family: 'Rubik', sans-serif;
  float: right;
  color: rgb(247, 246, 239);
  font-size: 20px;
}

.school {
  padding: 20px 0;
  color: rgba(247, 246, 239, 0.452);
}

hr {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.452);
  margin-left: auto;
  margin-right: auto;
  }

.btn {
    margin: 0 auto;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 80px 0 40px;
  background-color: rgb(213, 248, 218);
}

.btn-outline-secondary {
  width: 100px;
  box-shadow: 4px 6px #888888;
}

.fa-icon {
  color: black;
  font-size: 26px;
  padding: 10px;
}

@media (max-width: 1160px) {
  
  #mainimg {
    height: 100%;
    width: auto;
  }

  .portfolio-1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
  }

  .card {
    width: auto;
    height: auto;
  }

  .portfolio-2a {
    grid-column: 1;
    grid-row: 1;
    /* margin-left: 45%; */
  }
  
  .portfolio-2b {
    grid-column: 2;
    grid-row: 1;
  }
  
  .portfolio-2c {
    grid-column: 1;
    grid-row: 2;
    /* margin-left: 45%; */
  }
  
  .portfolio-2d {
    grid-column: 2;
    grid-row: 2;
  }

  .tech2 {
    width: 85%;
  }

}

@media (max-width: 830px) {
  .div1-1 {
    display: block;
  }

  .main-text {
    margin-top: 40%;
  }

  .about-2 {
    width: auto;
  }

  .edu-2 {
    width: 100%;
    padding: 40px;
  }

  .portfolio-1 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    padding: 0 15% 80px;
  }

  .card {
    width: auto;
    height: auto;
  }

  .portfolio-2a {
    grid-column: 1;
    grid-row: 1;
    /* margin-left: 45%; */
  }
  
  .portfolio-2b {
    grid-column: 1;
    grid-row: 2;
  }
  
  .portfolio-2c {
    grid-column: 1;
    grid-row: 3;
    /* margin-left: 45%; */
  }
  
  .portfolio-2d {
    grid-column: 1;
    grid-row: 4;
  }

  .tech2 {
    width: 50%;
    padding: 0;
    flex-wrap: wrap;
    align-items: space-around;
  }

  .logo {
    width: 10%;
    min-width: 95px;
    height: auto;
  }
  
  .logo2 {
    width: 20%;
    min-width: 130px;
    height: auto;
    padding: 20px 0; 
  }
}

@media (max-width: 576px) {


  .tech2 {
    width: 70%;
    padding: 0;
    flex-wrap: wrap;
    align-items: space-around;
  }

  .logo {
    width: 10%;
    min-width: 95px;
    height: auto;
  }
  
  .logo2 {
    width: 20%;
    min-width: 130px;
    height: auto;
    padding: 20px 0; 
  }
}